body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    height: 100vh;
    margin: 3% 20%;
}
.firstrow{
    height: 140px;
    width: 102%;
}
.head{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.tasks{
    display: flex;
    flex-direction: row;
    display: inline;
    font-weight: bolder;
    font-size: 60px;
    color: black;
}
.hr{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: grey;
}
.back{
    /* height: 50px; */
    display: flex;
    justify-content: center;
    font-weight: lighter;
    padding-bottom: 20px;
    /* position: relative;
    top: 30px; */
}
.secondrow{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    height: 100px;
    width: 102%;
}
.paris{
    border:1px solid tomato;
    border-radius: 10px;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(212, 204, 204);
    margin-left: 10px;
}
.trip_head{
    font-size: 30px;
    font-weight: lighter;
    color: tomato;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 30px;
}
.completed{
    font-size: 24px;
    color: red;
    text-decoration: line-through;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bolder;
}
.pending{
    font-size: 24px;
    margin-top: 20px;
    margin-right: 60px;
}
.checkbox {
    transform: scale(1.5);
}
.add{
    display: flex;
    justify-content: right;
    position: relative;
    top: 100px;
}